name: Publish to cldr-smoke

on:
  push:
    branches:
      - charts/*
jobs:
  preview:
    environment: preview
    runs-on: ubuntu-latest
    steps:
      - name: get chart number
        id: setup
        # refs/heads/charts/49
        # steps.setup.outputs.chartnum
        run: |
          echo "chartnum="$(echo ${{ github.ref }} | cut -d/ -f4) | tee -a $GITHUB_OUTPUT

      - uses: actions/checkout@v6
        with:
            sparse-checkout: 'docs/charts'

      - name: check checkout
        run: du -sh docs/charts/${{ steps.setup.outputs.chartnum }}

      - name: Setup ssh
        # For the host key verification of ssh behind rsync.
        run: |
          mkdir ~/.ssh
          echo "sarasvati.unicode.org ecdsa-sha2-nistp256 AAAAE2VjZHNhLXNoYTItbmlzdHAyNTYAAAAIbmlzdHAyNTYAAABBBGx+XeCMGtRbA7X26EVcYG41zQrZmM05Vw5I0zISPqz9f+94Vlm4P26hsmY/DCA1j4EMlbbiISqRqzbLfAz1s5s=" >> ~/.ssh/known_hosts
          echo "cldr-smoke.unicode.org ecdsa-sha2-nistp256 AAAAE2VjZHNhLXNoYTItbmlzdHAyNTYAAAAIbmlzdHAyNTYAAABBBKebRPtFh4wfiya5UX+8OGJorbdu66PeXASGLvgmSMgewsBF0LwS2r5qcMlv11LdSQh/PrP0gWndmG7bBOQOZj0=" >> ~/.ssh/known_hosts
          echo "${SSH_KEY}" | base64 -d > ~/.ssh/id_rsa
          md5sum ~/.ssh/id_rsa
          echo "Host ${{ vars.SSH_HOST }}" >> ~/.ssh/config
          echo " User ${{ vars.SSH_USER }}" >> ~/.ssh/config
          echo " Port ${{ vars.SSH_PORT }}" >> ~/.ssh/config
          echo " IdentityFile ${HOME}/.ssh/id_rsa" >> ~/.ssh/config
          cat ~/.ssh/config
          chmod -R go= ~/.ssh
        env:
          SSH_KEY: ${{ secrets.SSH_KEY }}

      - name: Sync files to server
        run: |
          rsync --recursive --delete --delete-after --verbose --verbose \
          docs/charts/${{ steps.setup.outputs.chartnum }}/ \
          ${{ vars.SSH_HOST }}:public_html/cldr/charts/${{ steps.setup.outputs.chartnum }}
      - name: Notify
        run: |
          echo "- Updated: https://cldr-smoke.unicode.org/cldr/charts/${{ steps.setup.outputs.chartnum }}" >> $GITHUB_STEP_SUMMARY
  production:
    environment: production
    runs-on: ubuntu-latest
    steps:
      - name: get chart number
        id: setup
        # refs/heads/charts/49
        # steps.setup.outputs.chartnum
        run: |
          echo "chartnum="$(echo ${{ github.ref }} | cut -d/ -f4) | tee -a $GITHUB_OUTPUT

      - uses: actions/checkout@v6
        with:
            sparse-checkout: 'docs/charts'

      - name: check checkout
        run: du -sh docs/charts/${{ steps.setup.outputs.chartnum }}

      - name: Setup ssh
        # For the host key verification of ssh behind rsync.
        run: |
          mkdir ~/.ssh
          echo "sarasvati.unicode.org ecdsa-sha2-nistp256 AAAAE2VjZHNhLXNoYTItbmlzdHAyNTYAAAAIbmlzdHAyNTYAAABBBGx+XeCMGtRbA7X26EVcYG41zQrZmM05Vw5I0zISPqz9f+94Vlm4P26hsmY/DCA1j4EMlbbiISqRqzbLfAz1s5s=" >> ~/.ssh/known_hosts
          echo "cldr-smoke.unicode.org ecdsa-sha2-nistp256 AAAAE2VjZHNhLXNoYTItbmlzdHAyNTYAAAAIbmlzdHAyNTYAAABBBKebRPtFh4wfiya5UX+8OGJorbdu66PeXASGLvgmSMgewsBF0LwS2r5qcMlv11LdSQh/PrP0gWndmG7bBOQOZj0=" >> ~/.ssh/known_hosts
          echo "${SSH_KEY}" | base64 -d > ~/.ssh/id_rsa
          md5sum ~/.ssh/id_rsa
          echo "Host ${{ vars.SSH_HOST }}" >> ~/.ssh/config
          echo " User ${{ vars.SSH_USER }}" >> ~/.ssh/config
          echo " Port ${{ vars.SSH_PORT }}" >> ~/.ssh/config
          echo " IdentityFile ${HOME}/.ssh/id_rsa" >> ~/.ssh/config
          cat ~/.ssh/config
          chmod -R go= ~/.ssh
        env:
          SSH_KEY: ${{ secrets.SSH_KEY }}

      - name: Sync files to server
        run: |
          rsync --recursive --delete --delete-after --verbose --verbose \
          docs/charts/${{ steps.setup.outputs.chartnum }}/ \
          ${{ vars.SSH_HOST }}:public_html/cldr/charts/${{ steps.setup.outputs.chartnum }}
      - name: Notify
        run: |
          echo "- Updated: https://cldr-smoke.unicode.org/cldr/charts/${{ steps.setup.outputs.chartnum }}" >> $GITHUB_STEP_SUMMARY
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true
