name: Publish to cldr-smoke

on:
  push:
    branches:
      - charts/*
jobs:
  upload:
    environment: preview
    runs-on: ubuntu-latest
    steps:
      - name: get chart number
        id: setup
        # refs/heads/charts/49
        # steps.setup.outputs.chartnum
        run: |
          echo "chartnum="$(echo ${{ github.ref }} | cut -d/ -f4) | tee -a $GITHUB_OUTPUT

      - uses: actions/checkout@v6
        with:
            sparse-checkout: 'docs/charts'

      - name: check checkout
        run: du -sh docs/charts/${{ steps.setup.outputs.chartnum }}

      - name: Setup ssh
        # For the host key verification of ssh behind rsync.
        run: |
          mkdir ~/.ssh
          echo "sarasvati.unicode.org ecdsa-sha2-nistp256 AAAAE2VjZHNhLXNoYTItbmlzdHAyNTYAAAAIbmlzdHAyNTYAAABBBGx+XeCMGtRbA7X26EVcYG41zQrZmM05Vw5I0zISPqz9f+94Vlm4P26hsmY/DCA1j4EMlbbiISqRqzbLfAz1s5s=" >> ~/.ssh/known_hosts
          echo "cldr-smoke.unicode.org ecdsa-sha2-nistp256 AAAAE2VjZHNhLXNoYTItbmlzdHAyNTYAAAAIbmlzdHAyNTYAAABBBKebRPtFh4wfiya5UX+8OGJorbdu66PeXASGLvgmSMgewsBF0LwS2r5qcMlv11LdSQh/PrP0gWndmG7bBOQOZj0=" >> ~/.ssh/known_hosts
          echo ${SSH_KEY} >> ~/.ssh/id_rsa
          chmod -R go= ~/.ssh
        env:
          SSH_KEY: ${{ secrets.SSH_KEY }}

      - name: Sync files to server
        run: |
          rsync --dry-run --recursive --inplace --verbose --verbose \
          docs/charts/${{ steps.setup.outputs.chartnum }}/ \
          ${{ vars.SSH_USER }}@${{ vars.SSH_HOST }}:public_html/charts/${{ steps.setup.outputs.chartnum }}

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true
